/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f6fa;
  color: #333;
}

/* Navbar */
header {
  background: #2575fc;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 22px;
  font-weight: bold;
}

header nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
   color: #121212;
  text-decoration: underline;
}

/* Hero */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero .btn:hover {
  background: #f1f1f1;
}

/* Products */
.products {
  padding: 40px 20px;
  text-align: center;
}

.products h2 {
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 200px;
}

.product img {
  width: 100%;
  border-radius: 6px;
}

.product h3 {
  margin: 10px 0;
}

.product .btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #2575fc;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}


.product .btn:hover,{
background-color: azure;
color: rgb(0, 255, 81);
border: 2px solid rgb(0, 255, 81);
box-shadow: 5px 5px 0px rgb(0, 255, 81);

}
.product:active{
    background-color: rgb(13, 13, 14);
    box-shadow: none;
    transform: translateY(4px);
}


/* Forms (Login & Signup) */
.form-container {
  background: white;
  width: 350px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-box {
  margin-bottom: 15px;
}

.input-box label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #2575fc;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #1a5edb;
}

.extra {
  text-align: center;
  margin-top: 10px;
}

.extra a {
  color: #2575fc;
  text-decoration: none;
}
